.myTable { background-color:red;border-collapse:collapse; margin-left: 0px; width: 100%;margin-top: 10px;}
.myTable th { background-color:blue;color:black;}
.myTable td, .myTable th { padding:5px;border:1px solid green;width: 300px;}

.main{
margin-left:auto;
/*margin-left:auto;*/
width:700px;
background-color: blue;
border-color: green;
border-style: dotted;
border: 2px;
/*margin:0 auto;*/
}

#login{
margin: 5px 0px;
background:white;
border:1px solid lightskyblue;
padding-left: 10px;
padding-bottom: 20px;
width: 360px;
font-family:sans-serif;
color:blue;
}